<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - XBCAD_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XBCAD_WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex" style="margin-left: 1rem; margin-bottom: 1rem; margin-top: 0.5rem; background-color: #ffcb0c">
        
        <div class="d-flex align-items-stretch" style="background-color: white;">
            <h2 style="color:dodgerblue; text-decoration:underline; font-weight:600; padding-right: 1rem;">SKYTEL MOBILE</h2>
        </div>

    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-top box-shadow mb-3" style="background-color:dodgerblue">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav-fill flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.mtn.co.za/home/coverage/">COVERAGE MAP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.gsmarena.com/">MOBILE SPECIFICATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="FAQ" asp-action="Index">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="PDF" asp-action="PDFDisplay">YELLOW TRADER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="AboutUs" asp-action="AboutUsDisplay">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Employee_Login">EMPLOYEE LOG IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
