
@model EmployeeModel
@{
    ViewData["Title"] = "Employee_Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*  (W3schools, 2021) and //(4. Continuation and close off, 2021) *@


<head>
    @*  (W3schools, 2021) and (Fontsawesome, 2017) *@
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    @*HTML Change Background Color (Simple How To Tutorial). 2021*@
    <style>

        h1 {
            text-indent: 50px;
            font-family: Bahnschrift;
            color: #FFCB00;
            font-weight: bold;
            font-size: 70px;
            padding-right: 0px;
            padding-top: 5px;
            float: left;
            text-shadow: 2px 2px 4px #FFCB00;
            text-decoration: underline;
        }

        h2 {
            text-indent: 50px;
            font-family: Bahnschrift;
            color: #009DEA;
            font-weight: bold;
            font-size: 50px;
            padding-right: 0px;
            padding-top: 5px;
            float: left;
            text-align: center;
            text-shadow: 2px 2px 4px black;
            text-decoration: underline;
        }

        p {
            padding-top: 30px;
            font-family: Bahnschrift;
            color: #EAD6A8;
            text-align: center;
            font-style: oblique;
            font-size: 25px;
            float: left;
            padding-left: 0px;
        }

        a.CV {
            padding-top: 58px;
            font-weight: bold;
            font-family: Bahnschrift;
            color: #EAD6A8;
            font-size: 30px;
            float: right;
            padding-right: 0px;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row {
            content: "";
            clear: both;
            display: table;
        }

    </style>
</head>

<html>
<body>
    <div class="row">
        <div class="column">
            <img src="/lib/Images/LoginPage.png" style="width:1800px; height:580px; position:fixed; top:155px; right:0px" />
        </div>

        <div class="column" style="width:1800px; height:610px; position:fixed; top:140px; right:0px">
            <div style="background-color: black; width:45%; height:60%; position:fixed; top:180px; left:50px">
                <div style="background-color: #FFCB00; width:45%; height:60%; position:fixed; top:190px; left:70px">
                    <div style="background-color: #009DEA; width:45%; height:60%; position:fixed; top:200px; left:90px">
                        <h2 style="position:fixed; top:180px; left:1200px">EMPLOYEE LOGIN</h2>
                        <p class="text-center" style="text-decoration:underline; color:black; font-weight:bold ;font-size:30px; position:fixed; top:200px; left:320px">Please Enter your Details:</p>
                        <div class="col-md-6">
                            <form asp-action="Employee_Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group" style="position:fixed; top:300px; left:120px">
                                    <label asp-for="Employee_Username" class="control-label-" style="color:black; font-size:20px">Username:</label>
                                </div>

                                <div class="form-group" style="position:fixed; top:330px; left:120px">
                                    <input asp-for="Employee_Username" class="form-control" style="width:600px"/>
                                    <span asp-validation-for="Employee_Username" class="text-danger"></span>
                                </div>

                                <div class="form-group" style="position:fixed; top:400px; left:120px">
                                <label asp-for="Employee_Password" class="control-label" style="color:black; font-size:20px">Password:</label>
                                </div>

                                <div class="form-group" style="position:fixed; top:430px; left:120px">
                                    <input type="password" asp-for="Employee_Password" class="form-control" style="width:600px"/>
                                    <span asp-validation-for="Employee_Password" class="text-danger"></span>
                                </div>

@*                                <button onclick="myFunction()" class="btn btn-warning">Reminder</button>

                                <script>
                                    function myFunction() {
                                        alert("Hello! I am an alert box!");
                                    }
                                </script>*@

                                <p> </p>
                                <div class="form-group" style="position:fixed; top:530px; left:120px">
                                    <input type="submit" value="Submit" asp-action="display" class="btn btn-primary" style="width:100px; height:50px" />
                                </div>
                            </form>
                        </div>
                     </div>
                 </div>
            </div>



        </div>
    </div>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
