@model IEnumerable<XBCAD_WebApp.Models.DealModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class ="text-center">Deals currently uploaded</h1>

<p class="text-center">
    <a asp-action="Upload" class="btn btn-primary text-center">Upload new Deal</a>
</p>

<div class="row overflow-scroll flex-xl-nowrap">
    @foreach (var deal in Model)
    {
        <div class="col-sm-5">
            <div class="card bg-warning" style= "height:800px">
                <div class="row no-gutters" style="height:800px">
                    <div class="col-auto" style="height:800px">
                        <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                    </div>
                    <div class="col" style="height:800px">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => deal.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => deal.Description)</p>
                        </div>
                    </div>
                </div>
                <a asp-action="Delete" asp-route-id="@deal.id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>