
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

            form {
               
                background-color: yellow;
                
            }

        button {
            background-color: black;
            width: 100%;
            color: white;
            padding: 10px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

       


        </style>
</head>
<body>

    <form>

        <p1><u><strong>ENTER THE FOLLOWING DETAILS</strong></u></p1>

        <p></p>
        Username:<p>
        <input type="text" name="Name" style="width:600px">
        </p>
        Problem:<p>
            <input type="text" name="Problem Description/Question:" style="width:600px">
        </p>
        Contact:<p>
            <input type="text" name="Contact Details" style="width:600px">
        </p>
        Other:<p>
            <input type="text" name="Other" style="width:600px">
        </p>
        <button type="button" class="submitbtn"> Submit</button>
    </form>

</body>
</html>
           
            
