
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

            form {
               
                background-color: yellow;
                padding: 70px;
            }

        button {
            background-color: black;
            width: 40%;
            color: white;
            padding: 10px;
            margin: 20px 70px;
            border: none;
            cursor: pointer;
            border-radius: 9px;
        }

        .SUBMIT {
            background-color: black;
            width: 40%;
            color: white;
            padding: 10px;
            margin: 20px 70px;
            border: none;
            cursor: pointer;
            border-radius: 9px;
        }
       


        </style>
</head>
<body>

    <form asp-action="Create">
        

        <p1><u><strong>ENTER THE FOLLOWING DETAILS</strong></u></p1>

        <p></p>
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        Name:<p>
        <input type="text" name="Name" style="width:700px">
        </p>
        Problem Description/Question:<p>
            <input type="text" name="Problem/Description:" style="width:700px">
        </p>
        Contact:<p>
            <input type="text" name="Contact Details" style="width:700px">
        </p>
        Other:<p>
            <input type="text" name="Other" style="width:700px">
        </p>
       
        <div class="form-group">
            <input type="submit" value="SUBMIT" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-warning">Back to message</a>
        </div>
    </form>

</body>
</html>
           
            
