@*
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

            form {
               
                background-color: yellow;
                padding: 70px;
            }

        button {
            background-color: black;
            width: 40%;
            color: white;
            padding: 10px;
            margin: 20px 70px;
            border: none;
            cursor: pointer;
            border-radius: 9px;
        }

        .SUBMIT {
            background-color: black;
            width: 40%;
            color: white;
            padding: 10px;
            margin: 20px 70px;
            border: none;
            cursor: pointer;
            border-radius: 9px;
        }
       


        </style>
</head>
<body>

    <form asp-action="Create">
        

        <p1><u><strong>ENTER THE FOLLOWING DETAILS</strong></u></p1>

        <p></p>
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        Name:<p>
        <input type="text" name="Name" style="width:700px">
        </p>
        Problem Description/Question:<p>
            <input type="text" name="Problem/Description:" style="width:700px">
        </p>
        Contact:<p>
            <input type="text" name="Contact Details" style="width:700px">
        </p>
        Other:<p>
            <input type="text" name="Other" style="width:700px">
        </p>
       
        <div class="form-group">
            <input type="submit" value="SUBMIT" class="btn btn-primary" />
        </div>
    </form>

</body>
</html>*@
           
@model XBCAD_WebApp.Models.Message

@{
    ViewData["Title"] = "UploadMessage";
}


<h1 style="text-underline-position:auto">Upload Message Here:</h1>

<hr />
<div class"row">
    <div class="col-md-4">
        <div style="background-color: #FFCB00; position: fixed; left:400px; top:270px; width: 50%; height:60%">
            <div class="col-md-6">
                <div style="position: fixed; left:600px; top:300px">
                    <form asp-action="UploadMessage">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label asp-for="ProblemDescriptionQuestion" class="control-label"></label>
                            <input asp-for="ProblemDescriptionQuestion" class="form-control" style="width: 500px"/>
                            <span asp-validation-for="ProblemDescriptionQuestion" class="text-danger"></span>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label asp-for="ContactDetails" class="control-label"></label>
                            <input asp-for="ContactDetails" class="form-control" />
                            <span asp-validation-for="ContactDetails" class="text-danger"></span>
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label asp-for="Other" class="control-label"></label>
                            <input asp-for="Other" class="form-control" />
                            <span asp-validation-for="Other" class="text-danger"></span>
                        </div>
                        <p></p>
                     </form>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="form-group" style="position:fixed; left:400px; top:650px">
                        <input type="submit" value="                                                                                         SEND                                                                                           " class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*    <form asp-action="UploadMessage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProblemDescriptionQuestion" class="control-label"></label>
            <input asp-for="ProblemDescriptionQuestion" class="form-control" />
            <span asp-validation-for="ProblemDescriptionQuestion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactDetails" class="control-label"></label>
            <input asp-for="ContactDetails" class="form-control" />
            <span asp-validation-for="ContactDetails" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Other" class="control-label"></label>
            <input asp-for="Other" class="form-control" />
            <span asp-validation-for="Other" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="SEND" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group" style="position: absolute; left:200px; top:120px">
        <label asp-for="pdf_name" class="control-label-" style="font-size:20px; color:white">Please Click Choose File to Upload Yello Trader</label>
    </div>
</div>*@

@*<html>
<body style="background-color: white">
    <div class="container" style="padding-top:5%">
        <div class="row">
            <div class="col-md-12">
                <div style="background-color: #009DEA; position: absolute; left:450px; width: 50%; height:50%">
                    <h1 class="text-center" style="position: absolute; left:200px">Upload PDF</h1>
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group" style="position: absolute; left:200px; top:120px">
                                <label asp-for="pdf_name" class="control-label-" style="font-size:20px; color:white">Please Click Choose File to Upload Yello Trader</label>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:170px">
                                <form action="/action_page.php">
                                    <input asp-for="pdf_name" type="file" id="myFile" name="filename" class="btn btn-warning">
                                    <input type="submit">
                                </form>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:250px">
                                <label class="control-label-" style="font-size:20px; color:white">Please Click Delete to Delete Current Yello Trader</label>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:290px">
                                <div class="form-group">
                                    <input type="submit" value="DELETE" class="btn btn-danger" />
                                </div>
                            </div>

                            <p> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>*@