@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom:3rem">
    <h1 style="color: dodgerblue; text-decoration: underline;">TAKE A LOOK AT MTN'S DEALS!</h1>
</div>

<div class="row overflow-scroll flex-xl-nowrap">
    <div class="col-sm-5">
        <div class="card bg-warning">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Upgrade! Get a Takealot voucher</h5>
                        <p class="card-text">Limited to the first 1000 online upgrades only. T's & C's' apply</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="card bg-warning">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Upgrade! Get a Takealot voucher</h5>
                        <p class="card-text">Limited to the first 1000 online upgrades only. T's & C's' apply</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="card bg-warning">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Upgrade! Get a Takealot voucher</h5>
                        <p class="card-text">Limited to the first 1000 online upgrades only. T's & C's' apply</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

