@model IEnumerable<XBCAD_WebApp.Models.DealModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom:3rem">
    <h1 style="color: dodgerblue; text-decoration: underline;">TAKE A LOOK AT MTN'S DEALS!</h1>
</div>

<div class="row overflow-scroll flex-xl-nowrap">
    @foreach (var deal in Model)
    {
        <div class="col-sm-5">
            <div class="card bg-warning">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => deal.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => deal.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-----------------------Contact Us Portion of the Home Page-------------------------->

<div class="text-center" style="margin:3rem">
    <h1 style="color: dodgerblue; text-decoration: underline; color: #ffcb0c">GIVE US A CALL</h1>
</div>


<div class="justify-content-center">

    <!--Grid Row 1-->
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Cornubia Shopping Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop U79, Cornubia Shopping Mall</h6>
                    <p class="card-text">M41 & Cornubia Boulevard</p>
                    <p class="card-text">Mount Edgecombe</p>
                    <a href="#" class="card-link">0838698047</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-white" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Mutual Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 63, Mutual Mall</h6>
                    <p class="card-text">303 West Street</p>
                    <p class="card-text">Durban</p>
                    <a href="#" class="card-link">0838696923</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Chatsworth Centre</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 38, Chatsworth Centre</h6>
                    <p class="card-text">17 Joyhurst Street</p>
                    <p class="card-text">Chatsworth</p>
                    <a href="#" class="card-link">0838698008</a>
                </div>
            </div>
        </div>
    </div>

    <!--Grid Row 2-->
    <div class="row" style="margin-top: 1rem">
        <div class="col-sm-4">
            <div class="card bg-white" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN South Coast Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 68, South Coast Mall</h6>
                    <p class="card-text">Izotsha Road, Shelly Beach</p>
                    <p class="card-text">Margate</p>
                    <a href="#" class="card-link">0838694911</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Oceans Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 229A, Lagoon Drive</h6>
                    <p class="card-text">Oceans Mall</p>
                    <p class="card-text">Umhlanga</p>
                    <p href="#" class="card-text">083869XXXX (tbc)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            
        </div>

    </div>

</div>

<!-- Footer referencing (https://mdbootstrap.com/docs/standard/navigation/footer/)-->
<footer class="bg-black text-center text-white" style="margin-bottom: -4em; margin-top: 1.5rem; width:100rem; position:absolute; right:0px">
    <!-- Grid container -->
    <div class="container p-3">

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://web.facebook.com/skytelmobile/?_rdc=1&_rdr" role="button">
                <img style="max-width: 1.5em" src="~/lib/Images/Facebook.jpg" />
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/MTNza" role="button">
                <img style="max-width: 1.5em" src="~/lib/Images/Twitter.png" />
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/mtnza/?hl=en" role="button">
                <img style="max-width: 1.5em" src="~/lib/Images/Instagram.png" />
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://api.whatsapp.com/message/JEBWC3A5HCBKA1" role="button">
                <img style="max-width: 1.5em" src="~/lib/Images/Whatsapp.png" />
            </a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <img style="max-width: 7em" class="" src="~/lib/Images/MTNLogo.png" />
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-5 col-12" style="padding-top: 2em">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21" style="color: #ffcb0c">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-auto" style="padding-top: 2em">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4" style="color: #ffcb0c">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row" style="justify-content:center">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="https://www.mtn.co.za/home/help/content/terms-and-conditions" class="" style="color: #ffcb0c">Legal</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="https://www.mtn.co.za/home/help/content/privacy-policy" class="" style="color: #ffcb0c">Privacy Policy</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="https://www.mtn.co.za/home/terms-and-conditions/" class="" style="color: #ffcb0c">Terms & Conditions</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <p style="font-size: 0.7em; color: #ffcb0c">
        MTN (PTY) LTD is an authorised Financial Service Provider, underwritten by Guardrisk Insurance Company. FSP license number: 44774
    </p>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 SKYTEL:
        <a class="text-white" href="#">Skytel.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
