@model IEnumerable<XBCAD_WebApp.Models.DealModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom:3rem">
    <h1 style="color: dodgerblue; text-decoration: underline;">TAKE A LOOK AT MTN'S DEALS!</h1>
</div>

<div class="row overflow-scroll flex-xl-nowrap">
    @foreach (var deal in Model)
    {
        <div class="col-sm-5">
            <div class="card bg-warning">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => deal.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => deal.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*    <div class="col-sm-5">
        <div class="card bg-warning">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Upgrade! Get a Takealot voucher</h5>
                        <p class="card-text">Limited to the first 1000 online upgrades only. T's & C's' apply</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="card bg-warning">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="card-img-top" src="~/lib/Images/Skytel_pic1.png" alt="Card image cap">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Upgrade! Get a Takealot voucher</h5>
                        <p class="card-text">Limited to the first 1000 online upgrades only. T's & C's' apply</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-----------------------Contact Us Portion of the Home Page-------------------------->

<div class="text-center" style="margin:3rem">
    <h1 style="color: dodgerblue; text-decoration: underline; color: #ffcb0c">GIVE US A CALL</h1>
</div>


<div class="justify-content-center">

    <!--Grid Row 1-->
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Cornubia Shopping Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop U79, Cornubia Shopping Mall</h6>
                    <p class="card-text">M41 & Cornubia Boulevard</p>
                    <p class="card-text">Mount Edgecombe</p>
                    <a href="#" class="card-link">0838698047</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-white" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Mutual Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 63, Mutual Mall</h6>
                    <p class="card-text">303 West Street</p>
                    <p class="card-text">Durban</p>
                    <a href="#" class="card-link">0838696923</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Chatsworth Centre</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 38, Chatsworth Centre</h6>
                    <p class="card-text">17 Joyhurst Street</p>
                    <p class="card-text">Chatsworth</p>
                    <a href="#" class="card-link">0838698008</a>
                </div>
            </div>
        </div>
    </div>

    <!--Grid Row 2-->
    <div class="row" style="margin-top: 1rem">
        <div class="col-sm-4">
            <div class="card bg-white" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN South Coast Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 68, South Coast Mall</h6>
                    <p class="card-text">Izotsha Road, Shelly Beach</p>
                    <p class="card-text">Margate</p>
                    <a href="#" class="card-link">0838694911</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-warning" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">MTN Oceans Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Shop 229A, Lagoon Drive</h6>
                    <p class="card-text">Oceans Mall</p>
                    <p class="card-text">Umhlanga</p>
                    <p href="#" class="card-text">083869XXXX (tbc)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            
        </div>

    </div>

</div>
