@model IEnumerable<XBCAD_WebApp.Models.FAQModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="color:#ffcb0c;">Frequently Asked Questions</h1>

<p class="text-center">
    <a asp-action="EmpFAQIndex" class="btn btn-primary">Button to test Employee FAQ Operations</a>
</p>

@*For the display of the employee info*@

@*<table class="table table-hover">
    <thead>
        <tr>
            <th style="color:#ffcb0c; font-size:2em">Questions</th>
            <th style="color:#ffcb0c; font-size:2em">Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var q in Model)
        {
            <tr class="shadow">
                <td style="font-size:1.3em; background-color: #ffcb0c">@Html.DisplayFor(modelItem => q.Question)</td>
                <td style="font-size:1.3em; background-color: dodgerblue">@Html.DisplayFor(modelItem => q.Answer)</td>
            </tr>
        }
    </tbody>
</table>
